<div class="selectors">
	<app-selectors [brands]="brands$ | async" [types]="types$ | async" [colors]="colors$ | async" [selections]="selections$ | async"
	 (filter)="onFilter($event)">
	</app-selectors>
	<app-selections-info [selections]="selections$ | async" [pastStatesNum]="pastStatesNum$ | async" [futureStatesNum]="futureStatesNum$ | async"
	 (undo)="onUndo()" (redo)="onRedo()"></app-selections-info>
</div>
<app-vehicle-list [vehicles]="vehicles$ | async"></app-vehicle-list>
<app-loader [loading]="loading$ | async"></app-loader>