:host{
	display: flex;
	flex-direction: column;
	order: 2;
	margin-bottom: 1em;
}

mat-card {
	padding: 2em;
}

.selections > .actions {
	display: flex;
	margin-top: 2em;
}

.selections > .actions > button {
	margin-right: 1em;
}