<mat-card class="selections">
	<div>Selected options: {{selectedOptions}}</div>
	<div class="actions">
		<button [disabled]="pastStatesNum <= 0" (click)="undo.emit()" mat-stroked-button matBadge="{{pastStatesNum}}"
		 matBadgePosition="before" matBadgeColor="accent">Undo selection</button>
		<button [disabled]="futureStatesNum <= 0" (click)="redo.emit()" mat-stroked-button matBadge="{{futureStatesNum}}"
		 matBadgePosition="before" matBadgeColor="accent">Redo selection</button>
	</div>
</mat-card>