:host {
	flex: 1;
	order: 2;
	margin-left: 0.25em;
}

li {
	display: flex;
	padding: 1em;
	align-items: center;
	justify-content: space-between;
}

li:hover {
	background-color: whitesmoke;
	border-radius: 5px;
}

li > .info > img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-right: 1em;
}

li > .info {
	display: flex;
	align-items: center;
}

li > .info > .title {
	display: flex;
	flex-direction: column;
}

li > .info > .title > .brand {
	font-size:22px;
	color:#393c45;	
}

li > .info > .title > .type {
	font-size:16px;
	color:#b1b1b3;	
	padding:2px 0 20px 0;
}

li > .colors {
	display: flex;
}

li > .colors div {
	border: 1px solid lightgray;
	margin-top:3px;
	width:15px; 
	height:15px; 	
	margin-right:5px;
	border-radius:50%;
}

