<mat-card>
	<ul>
		<li *ngFor="let vehicle of vehicles">
			<div class="info">
				<img [src]="vehicle.img">
				<div class="title">
					<div class="brand">{{vehicle.brand}}</div>
					<div class="type">{{vehicle.type}}</div>
				</div>
			</div>
			<div class="colors">
				<div *ngFor="let color of vehicle.colors" [ngStyle]="{'background': color}"></div>
			</div>
		</li>
	</ul>
</mat-card>