:host {
	top: 50%;
	left: 50%;
	position: absolute;
	flex-direction: row;
	z-index: 1;
}

.overlay {
	position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    background: #263238;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

mat-spinner {
	z-index: 3;
}

/deep/ .mat-spinner circle {
    stroke: #37474F;
}