header {
	font-family: 'Chakra Petch', sans-serif;
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
	display: flex;
    align-items: center;
	padding: 8px 16px;
	background-color: #263238;
	color: white;
	box-shadow: 
		0px 3px 5px -1px rgba(0, 0, 0, 0.2),
		0px 6px 10px 0px rgba(0, 0, 0, 0.14), 
		0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

header > img {
	height: 50px;
	border-radius: 15%;
	margin-right: 0.5em;
}
