<mat-card>
	<form [formGroup]="selectorsForm">
		<label>
			Types
			<mat-select formControlName="typesControl" placeholder="Select a type">
				<mat-option [value]="''">None</mat-option>
				<mat-option *ngFor="let type of types" [value]="type">
					{{type}}
				</mat-option>
			</mat-select>
		</label>
		<label>
			Brands
			<mat-select formControlName="brandsControl" placeholder="Select a brand">
				<mat-option [value]="''">None</mat-option>
				<mat-option *ngFor="let brand of brands" [value]="brand">
					{{brand}}
				</mat-option>
			</mat-select>
		</label>
		<label>
			Colors
			<mat-select formControlName="colorsControl" placeholder="Select a color">
				<mat-option [value]="''">None</mat-option>
				<mat-option *ngFor="let color of colors" [value]="color">
					{{color}}
				</mat-option>
			</mat-select>
		</label>
	</form>
</mat-card>